body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url("images/full-bloom.png");
    font-size: 1em;
    line-height: 1.75em;  
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.bg-light {
    background: #ffffff!important;
}

.navMid {
    padding: 0;
}

.navLeft, .navMid, .navRight {
    border-bottom: 2px solid #cccccc;
}

.navbar-brand {
    background: #4aaaa5;
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nav-item {
    border-left: 1px solid #cccccc;
    padding: 0;
}

.nav-item:first-child {
    border-left: 0 none;
  }

.container-fluid {
    margin-bottom: 20%;
   }

.contentTop {
    margin-top: 2em;
    padding: 1em;
}

.colorMeWhite {
    background: #ffffff;
}

h5 {
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 1em;
}

.aboutMe-image {
    padding-right: 1em;
    width: 15em;
    float: left;
}

.portfolioImgWrapper {
    position: relative;
}

h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background: #4aaaa5;
    color: #ffffff;
    padding: .5em;
    position: absolute;
    bottom: 1.5em;
    z-index: 10;
    text-align: center;
    width: 100%;
    font-size: 1em;
}

.portfolio-image {
    width: 100%;
    margin: 1em 0;
}

footer {
    background: #666666;
    color: #ffffff;
    font-size: .75em;
    border-top: 5px solid #4aaaa5;
    
}



