body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image: url("full-bloom.png");
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 960px;
    margin: 20px auto;
    background: #ffffff;
}

.navbar-brand {
    background: #4aaaa5;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
    color: #4aaaa5;
}

.aboutMe-image {
    padding-right: 10px;
    float: left;
}

.portfolio-image{
    padding: 10px;
}


